@import "../../../Sources/samples.scss";

.box{
      border: 3px solid $border;
      border-radius: 13px;
      background-color: $white;
    .banner{
          border-radius: 10px;
          overflow: hidden;
          width: 100%;
          background-color: $white;
          img{
            width: 100%;
          }
    }
    .account{
          display: flex;
          padding: 20px;
          .avatar{
                width: 100px;
          }
          .infoBox{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .name{
                      font-size: 24px;
                      font-weight: 600;
                }
                .info{
                      ul{
                            li{  
                                  margin-top: 5px;
                            }
                      }
                }
          }     
    }
}