@import "../../../Sources/samples.scss";

.box {
    position: relative;
    overflow: hidden;
    grid-area: "Navbar";
    padding-bottom: 40px;
    overflow: hidden;

    .dialogs {
        height: 100%;
        width: 100%;

        .track {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            border-right: 2px solid $border;
            height: 100%;
            align-items: center;
            width: 100%;
            border-radius: 0px 0px 0px 10px;
        }

    }
}