@import "../../../../Sources/samples.scss";

.item {
    padding: 10px;
    width: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
        background-color: $white-hover;
    }

    &:active {
        background-color: $white-active;
    }

    .avatar {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .content {
        margin-left: 10px;
        width: 100%;
        overflow: hidden;

        .name {
            font-size: 15px;
            font-weight: 500;
            color: $black;
        }

        .message {
            color: $black;

            display: flex;
            align-items: center;
            margin-top: 5px;

            span {
                font-size: 13px;
                font-weight: 500;
            }

            p {
                margin-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $black-active;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}