@import "../../../Sources/samples.scss";

.box{
    margin-top: 20px;
    padding: 20px;
    border: 3px solid $border;
    border-radius: 13px;
    background-color: $white;
    .myposts{
        font-size: 30px;
        font-weight: 500;
    }
    .newpost{
        display: flex;
        align-items: center;
        margin-top: 40px;
        .textarea{
            margin-left: 20px;
            width: 100%;
            max-width: 400px;
            height: 40px;
            outline: none;
            border: 1px solid $border;
            padding: 10px;
            resize: none;
            font-family: 'Quicksand', sans-serif;
            color: $black;
            font-weight: 600;
        }
        button{
            background-color: $blue;
            color: #fff;
            height: 40px;
            width: 80px;
            &:hover{
                background-color: $blue-hover;
            }
            &:active{
                background-color: $blue-active;
            }
        }
    }  
    
    .post{
    }
}