$white: #fff;
$white-hover: #f0f0f0;
$white-active: #e6e6e6;

$black: #000000;
$black-hover: #9a9a9a;
$black-active: #737373;

$blue: #00aee3;
$blue-hover: #00a5d7;
$blue-active: #009fd0;

$border: #a5a5a5ab;
