@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
*{
      font-family: 'Quicksand', sans-serif;
}
body{
      background-color: #e4e4e4;
}
.AppWrapper{
      padding: 0 10px;
      display: grid;
      grid-template-areas:
      "header_ header_" 
      "side_ content_";
      grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      grid-gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
}
.content{
      position: relative;
      grid-area: content_;
}
