@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


* {
      font-family: 'Comfortaa','Quicksand';
      font-weight: 400;
      font-size: 13px;
}

body {
      background-color: #e4e4e4;

}

* {
      scrollbar-width: 6px;
      scrollbar-color: #454545 #d3d3d3;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
      width: 8px;
}

*::-webkit-scrollbar-track {
      background: #d3d3d3;
}

*::-webkit-scrollbar-thumb {
      background-color: #454545;
      border-radius: 20px;
}

.AppWrapper {
      padding: 0 10px;
      display: grid;
      grid-template-areas:
            "side_ content_";
      grid-template-columns: 3fr 20fr;
      grid-gap: 10px;
      max-width: 1300px;
      min-width: 1000px;
      margin: 0 auto;
}

.content {
      position: relative;
      grid-area: content_;
}