@import "../../Sources/samples.scss";
.box {
    position: relative;
    background-color: $white;
    border: 3px solid $border;
    border-radius: 13px;
    display: grid;
    grid-template-areas: "Navbar Dialog";
    grid-template-columns: 300px 2fr;
    height: 100%;

}
